a {
    text-decoration: none;
}
.navbar{
    background-color: white;
    border-bottom: solid #eeeeee;
    padding: 50px;
}
.navbar-nav{
    list-style-type: none;
    margin-left: 40%;
}
.navbar-toggler{
    margin-left: 50%;
}
.nav-link{
    color: #234c63;
}
.nav-link > .active  a{
    color : #f2f5ff;
}
.breadcrumb{
    margin-left: 30px;
}
.social-links {
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50%;
}
footer{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}
hr {
height: 2px;
width: 70px;
}